{% extends "base.html" %}

{% block title %} Delatnosti {% endblock %}

{% load static %}

{% block content %}

<div>

    <!--  Hero -->
    <section id="hero" class="relative w-full overflow-hidden">

      <!-- Slides -->
      <div class="relative w-full h-[400px]">
        <div v-for="(slide, index) in slides" :key="index"
             class="absolute inset-0 transition-all duration-1000 ease-in-out"
             :class="{
               'opacity-100 z-10 translate-x-0': index === currentIndex,
               'opacity-0 z-0 -translate-x-full': index !== currentIndex
             }">

          <!-- Image -->
          <img src="{% static 'img/icons/services2.jpg' %}" class="w-full h-full object-cover">

          <!-- Overlay sa tekstom -->
          <div class="absolute inset-0 bg-black/40 flex items-center">
            <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white px-4">

              <!-- Tekst (desktop levo, mobile centar) -->
              <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white px-4">
                <h1 class="text-3xl md:text-5xl font-bold mb-4">Delatnosti</h1>
                <p class="mb-6 text-lg md:text-xl"></p>
              </div>

              <!-- Prazno desno za desktop ili dodatni element -->
              <div class="md:w-1/2"></div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- Services Grid Section -->
    <section class="py-20 bg-gray-100">
      <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
        {% for id, service in activities.items %}
        <!-- 1 -->
        <a href="{% url 'single_service_extended' id %}" class="h-full block">
          <div class="bg-white rounded-2xl shadow-md flex flex-col items-center text-center p-7
                      transition-all duration-300 hover:shadow-2xl hover:-translate-y-1 h-full">

            <div class="flex items-center justify-center w-16 h-16 rounded-full bg-black mb-5">
              <i class="{{ service.icon }} text-3xl text-blue-600"></i>
            </div>

            <h3 class="text-lg font-semibold text-gray-900 leading-snug">
              {{ service.short_title }}
            </h3>
          </div>
        </a>

        {% endfor %}
      </div>
    </section>

</div>

{% endblock %}
