{% extends "base.html" %}

{% block title %} Naše usluge {% endblock %}

{% load static %}

{% block content %}


<section class="py-12">
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-bold text-center mb-10">Naše usluge</h1>
      <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {% for id, service in services.items %}
          <div class="bg-white rounded-xl shadow hover:shadow-lg transition-shadow duration-300 overflow-hidden">
            <img src="{{ service.img }}" alt="{{ service.title }}" class="w-full h-48 object-cover">
            <div class="p-6">
              <div class="flex items-center mb-4">
                <i class="{{ service.icon }} text-blue-500 text-4xl mr-3"></i>
                <h2 class="text-xl font-semibold">{{ service.title }}</h2>
              </div>
              <p class="text-gray-700 text-sm">{{ service.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}