{% extends "base.html" %}

{% block title %}Početna{% endblock %}

{% load static %}

{% block content %}

<div id="app-home">
    <!--  Hero -->
<!--  Hero -->
<section id="hero" class="relative w-full overflow-hidden">

  <!-- Slides -->
  <div class="relative w-full h-screen">
    <div v-for="(slide, index) in slides" :key="index"
         class="absolute inset-0 transition-all duration-1000 ease-in-out"
         :class="{
           'opacity-100 z-10 translate-x-0': index === currentIndex,
           'opacity-0 z-0 -translate-x-full': index !== currentIndex
         }">

      <!-- Image -->
      <img src="{% static 'img/hero-index.jpg' %}" class="w-full h-full object-cover">

      <!-- Overlay -->
      <div class="absolute inset-0 bg-black/40">



        <!-- Donji tekst levo -->
        <div class="absolute bottom-20 left-10 md:bottom-20 md:left-30 text-orange-400">
          <p class="text-lg md:text-5xl font-medium">
            Obezbedite svoje poslovanje
          </p>
        </div>

      </div>
    </div>
  </div>
</section>



      <!-- Buttons -->
<!--      <button @click="prevSlide" class="absolute left-4 top-1/2 -translate-y-1/2 text-white hover:text-bg-500 p-3 rounded-full z-20 cursor-pointer">-->
<!--        <svg-->
<!--          class="w-4 md:w-8 text-white hover:text-blue-500 transition-colors duration-300"-->
<!--          viewBox="0 0 47 75"-->
<!--          fill="none"-->
<!--          xmlns="http://www.w3.org/2000/svg"-->
<!--        >-->
<!--          <path-->
<!--            d="M46.7031 9.31835V1.76952C46.7031 1.11523 45.9512 0.753899 45.4434 1.15429L1.41994 35.5391C1.0459 35.8299 0.74324 36.2024 0.535047 36.6281C0.326853 37.0537 0.218628 37.5213 0.218628 37.9951C0.218628 38.4689 0.326853 38.9365 0.535047 39.3622C0.74324 39.7878 1.0459 40.1603 1.41994 40.4512L45.4434 74.8359C45.961 75.2363 46.7031 74.875 46.7031 74.2207V66.6719C46.7031 66.1934 46.4785 65.7344 46.1074 65.4414L10.9512 38L46.1074 10.5488C46.4785 10.2559 46.7031 9.79687 46.7031 9.31835Z"-->
<!--            fill="currentColor"-->
<!--          />-->
<!--        </svg>-->
<!--      </button>-->
<!--      <button @click="nextSlide" class="absolute right-4 top-1/2 -translate-y-1/2 text-white hover:text-bg-500 p-3 rounded-full z-20 cursor-pointer">-->
<!--        <svg class="w-4 md:w-8 text-white hover:text-blue-500 transition-colors duration-300" viewBox="0 0 47 76" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--          <path-->
<!--            d="M45.7754 35.5391L1.75196 1.1543C1.63693 1.06373 1.49868 1.00745 1.3531 0.991913C1.20752 0.976377 1.06051 1.00222 0.928952 1.06647C0.797396 1.13071 0.68663 1.23077 0.609373 1.35513C0.532116 1.47949 0.491502 1.62313 0.492196 1.76953V9.31836C0.492196 9.79687 0.716806 10.2559 1.0879 10.5488L36.2441 38L1.0879 65.4512C0.707041 65.7441 0.492196 66.2031 0.492196 66.6816V74.2305C0.492196 74.8848 1.24415 75.2461 1.75196 74.8457L45.7754 40.4609C46.1496 40.1691 46.4523 39.7957 46.6605 39.3693C46.8686 38.9428 46.9769 38.4745 46.9769 38C46.9769 37.5255 46.8686 37.0572 46.6605 36.6307C46.4523 36.2043 46.1496 35.8309 45.7754 35.5391Z"-->
<!--            fill="currentColor"/>-->
<!--          </svg>-->
<!--      </button>-->

      <!-- Dots -->
<!--      <div class="absolute bottom-4 left-1/2 -translate-x-1/2 flex space-x-2 z-20">-->
<!--        <span v-for="(slide, index) in slides" :key="index"-->
<!--              @click="goToSlide(index)"-->
<!--              :class="{'bg-white': index === currentIndex, 'bg-gray-500': index !== currentIndex}"-->
<!--              class="w-3 h-3 rounded-full cursor-pointer"></span>-->
<!--      </div>-->



    <!-- About -->
    <section id="About" class="bg-gray-50 py-30">
      <div class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row items-center gap-10">

      <!-- Slika levo (desktop) ili gore (mobile) -->
      <div class="md:w-1/2 w-full relative">
        <img src="{% static 'img/about.jpg' %}"
             alt="O nama"
             class="w-full h-full object-cover rounded-2xl shadow-lg">
        <div class="absolute inset-0 bg-black/20 rounded-xl"></div>
      </div>

      <!-- Tekst desno (desktop) ili dole (mobile) -->
      <div class="md:w-1/2 w-full flex flex-col justify-center text-center md:text-left">
        <h2 class="text-4xl font-bold text-gray-900 mb-4">O nama</h2>
        <p class="text-gray-700 text-lg mb-6 leading-relaxed">
          Smart P&S je privatno obezbeđenje,registrovano u Beogradu,a licencirano za obavljanje poslova
          fizičko-tehničkog obezbeđenja i zaštite lica ,imovine i događaja na teritoriji Republike Srbije.
          <br>
          <br>
          Smart P&S pruža stručne i prilagođene usluge iz oblasti bezbednosti ,u skladu sa zahtevima
          klijenata,a prema propisima države i Zakonu o privatnom obezbeđenju.Naš Smart P&S tim je
          posvećen pružanju pouzdanih i ekonomski isplativih bezbedonosnih rešenja ,tako da klijenti
          dobiju uslugu,zaštitu i vrednost koju zaslužuju za svoj novac.
          <br>
          <br>
          Smart P&S nudi kompletan spektar bezbedonosnih rešenja koja odgovaraju vašim potrebama.
          <br>
          <br>
          Svaki aspekt našeg posla shvatamo ozbiljno,od izgleda naših čuvara do vrste odnosa koji imamo
          sa našim klijentima.Mi cenimo našu bazu klijenata.Ako imate bilo kakva pitanja u vezi naših
          bezbedonosnih rešenja ili Vam je potrebna pomoć da obezbedite vašu
          zgradu,ljude,imovinu,vrednosti,obratite nam se danas.
        </p>
        <a href="{% url 'contact' %}"
           class="self-center md:self-start bg-gray-600 hover:bg-blue-700 text-white font-semibold px-6 py-3 rounded-lg transition duration-300">
          Kontaktirajte nas
        </a>
      </div>

    </div>
    </section>


    <!-- Services Grid Section -->
    <section class="py-20 bg-gray-100">
      <div class="max-w-7xl mx-auto px-6 text-center mb-12">
        <h2 class="text-4xl font-bold mb-4 text-gray-900">Naše usluge</h2>
        <p class="text-gray-700 text-lg">Pružamo profesionalne sigurnosne usluge za privatne i poslovne klijente.</p>
      </div>

    <section class="py-20 bg-gray-100">
          <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
            {% for id, service in services.items %}
            <!-- 1 -->
              {% if id != 9 and id != 12 %}
              <a href="{% url 'single_service' id %}" class="h-full">
              {% endif %}

              <div class="bg-orange-400  rounded-xl shadow-md flex flex-col items-center justify-center p-6 hover:shadow-xl transition-shadow h-full
                   {% if id == 9 or id == 12 %}hidden md:flex{% endif %}">
                  {% if id == 9 or id == 12 %}
                      <img src="{% static 'img/logo.png' %}" alt="" class="w-16"/>
                  {% else %}
                      <i class="{{ service.icon }} text-4xl text-blue-800 mb-4"></i>
                  {% endif %}

                  <h3 class="text-lg font-semibold text-gray-100 text-center">{{ service.short_title }}</h3>
                </div>

              {% if id != 9 and id != 12 %}
              </a>
              {% endif %}


            {% endfor %}
          </div>
        </section>
    </section>

<!--Industrije-->
    <section class="py-20">
      <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold text-center mb-20">Industrije gde smo zastupljeni</h1>

        <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          {% for id, service in extended_services.items %}
          <a href="{% url 'single_service_extended' id %}" class="cursor-pointer h-full ">
            <div class="bg-white rounded-xl shadow hover:shadow-lg transition-shadow duration-300 overflow-hidden h-full flex flex-col">
              <div class="p-6 flex flex-col items-center justify-between h-full">

                <div class="flex flex-col gap-3 items-center">
                  <p class="flex justify-center items-center p-6 rounded-full bg-orange-50">
                    <i class="{{ service.icon }} text-blue-500 text-3xl"></i>
                  </p>

                  <h2 class="text-xl font-semibold text-center">
                    {{ service.short_title }}
                  </h2>
                </div>

              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </section>


    <!--  Zasto nas odabrati -->
    <section class="py-30 bg-gray-800 ">
      <div class="max-w-7xl mx-auto flex flex-col gap-10">
        <div class="px-6 flex text-center flex-col justify-center items-center mb-12 gap-5">
          <img src="{% static 'img/icons/question.png' %}" alt="Vacancy Icon" class="w-48 "/>
          <h2 class="text-4xl font-bold text-gray-100">Zašto nas odabrati</h2>
          <p class="text-gray-400 text-lg">Pružamo profesionalne i pouzdane sigurnosne usluge sa fokusom na kvalitet i poverenje.</p>
        </div>
        <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-12 relative">

          <!-- Kartica 1 -->
          <div class="bg-white p-8 rounded-2xl relative pt-12 flex flex-col items-center text-center">
            <!-- Ikonica apsolutno pozicionirana -->
            <div class="absolute -top-10 left-1/2 transform -translate-x-1/2 bg-blue-700 rounded-full py-4 px-6 shadow-lg">
             <span class="text-orange-400 text-4xl font-bold">1</span>
            </div>
            <h3 class="text-xl font-semibold mb-2 mt-4">Dobro obučeno profesionalno osoblje</h3>
            <p class="text-gray-700">Naš tim stručnjaka obezbeđuje vrhunsku uslugu i potpunu pouzdanost.</p>
          </div>

          <!-- Kartica 2 -->
          <div class="bg-white p-8 rounded-2xl relative pt-12 flex flex-col items-center text-center">
            <div class="absolute -top-10 left-1/2 transform -translate-x-1/2 bg-blue-700 rounded-full py-4 px-6 shadow-lg">
             <span class="text-orange-400 text-4xl font-bold">2</span>
            </div>
            <h3 class="text-xl font-semibold mb-2 mt-4">Fleksibilna usluga, usluga po meri klijenta</h3>
            <p class="text-gray-700">Prilagođavamo svako rešenje vašim specifičnim potrebama i zahtevima.</p>
          </div>

          <!-- Kartica 3 -->
          <div class="bg-white p-8 rounded-2xl relative pt-12 flex flex-col items-center text-center">
            <div class="absolute -top-10 left-1/2 transform -translate-x-1/2 bg-blue-700 rounded-full py-4 px-6 shadow-lg">
             <span class="text-orange-400 text-4xl font-bold">3</span>
            </div>
            <h3 class="text-xl font-semibold mb-2 mt-4">24/7 dostupnost i brz odgovor</h3>
            <p class="text-gray-700">Uvek smo tu za vas, bez obzira na vreme i dan. Na svaki poziv reagujemo brzo kako biste uvek imali potpunu podršku.</p>
          </div>

          <!-- Kartica 4 -->
          <div class="bg-white p-8 rounded-2xl relative pt-12 flex flex-col items-center text-center">
            <div class="absolute -top-10 left-1/2 transform -translate-x-1/2 bg-blue-700 rounded-full py-4 px-6 shadow-lg">
             <span class="text-orange-400 text-4xl font-bold">4</span>
            </div>
            <h3 class="text-xl font-semibold mb-2 mt-4">Sveobuhvatna bezbednosna rešenja</h3>
            <p class="text-gray-700">Nudimo kompletna rešenja koja štite vaše objekte i imovinu.</p>
          </div>

          <!-- Kartica 5 -->
          <div class="bg-white p-8 rounded-2xl relative pt-12 flex flex-col items-center text-center">
            <div class="absolute -top-10 left-1/2 transform -translate-x-1/2 bg-blue-700 rounded-full py-4 px-6 shadow-lg">
             <span class="text-orange-400 text-4xl font-bold">5</span>
            </div>
            <h3 class="text-xl font-semibold mb-2 mt-4">Besplatna konsultacija i procena pozicija</h3>
            <p class="text-gray-700">Naši stručnjaci besplatno izlaze na teren i daju najbolju ponudu.</p>
          </div>

          <!-- Kartica 6 -->
          <div class="bg-white p-8 rounded-2xl relative pt-12 flex flex-col items-center text-center">
            <div class="absolute -top-10 left-1/2 transform -translate-x-1/2 bg-blue-700 rounded-full py-4 px-6 shadow-lg">
             <span class="text-orange-400 text-4xl font-bold">6</span>
            </div>
            <h3 class="text-xl font-semibold mb-2 mt-4">Konkurentna i pristupačna cena usluge</h3>
            <p class="text-gray-700">Kvalitetna usluga po ceni koja odgovara svakom budžetu.</p>
          </div>


        </div>
      </div>

    </section>


<section class="max-w-5xl mx-auto py-20 px-4">
  <h1 class="text-4xl font-bold text-center mb-14 tracking-wide">
    Najčešća pitanja
  </h1>

  <div class="space-y-5">

    <!-- 1 -->
    <details class="group  rounded-xl bg-orange-400 p-6 shadow-lg transition hover:shadow-xl">
      <summary class="flex justify-between items-center cursor-pointer">
        <span class="font-semibold text-xl text-white">
          Kako možemo da stupimo u kontakt sa Smart P&S Security u vezi pružanja usluga fizičko-tehničkog obezbeđenja?
        </span>
        <span class="text-2xl text-white transition-transform group-open:rotate-180">⌄</span>
      </summary>
      <p class="rounded-md p-4 text-lg mt-4 text-gray-700 bg-orange-50 transition-all duration-300">
        Možete zatražiti usluge obezbeđenja tako što ćete nas kontaktirati putem naše veb stranice, imejla ili telefona.
        Naš tim će sarađivati sa vama kako bi procenio vaše potrebe i razvio prilagođeni bezbednosni plan.
      </p>
    </details>

    <!-- 2 -->
    <details class="group border border-gray-300 rounded-xl bg-white p-6 shadow-lg transition hover:shadow-xl">
      <summary class="flex justify-between items-center cursor-pointer">
        <span class="font-semibold text-xl text-gray-900">Da li su vaši čuvari obučeni i licencirani?</span>
        <span class="text-2xl text-orange-400 transition-transform group-open:rotate-180">⌄</span>
      </summary>
      <p class="rounded-md p-4 text-lg mt-4 text-gray-700 bg-gray-100 transition-all duration-300">
        Da, svi naši čuvari su strogo obučeni i licencirani kako bi ispunili državne i industrijske standarde.
        Dajemo prioritet kontinuiranoj obuci i obrazovanju kako bismo osigurali da su naši čuvari spremni za svaku situaciju.
      </p>
    </details>

    <!-- 3 -->
    <details class="group border border-gray-300 rounded-xl bg-white p-6 shadow-lg transition hover:shadow-xl">
      <summary class="flex justify-between items-center cursor-pointer">
        <span class="font-semibold text-xl text-gray-900">Koje industrije opslužuje Smart P&S Security?</span>
        <span class="text-2xl text-orange-400 transition-transform group-open:rotate-180">⌄</span>
      </summary>
      <p class="rounded-md p-4 text-lg mt-4 text-gray-700 bg-gray-100 transition-all duration-300">
        Smart P&S opslužuje širok spektar industrija, uključujući korporativne zgrade, gradilišta,
        obrazovne ustanove, zdravstvene ustanove, maloprodaju, proizvodnju i još mnogo toga.
        Prilagođavamo naše usluge jedinstvenim potrebama svakog sektora.
      </p>
    </details>

    <!-- 4 -->
    <details class="group border border-gray-300 rounded-xl bg-white p-6 shadow-lg transition hover:shadow-xl">
      <summary class="flex justify-between items-center cursor-pointer">
        <span class="font-semibold text-xl text-gray-900">Da li pružate usluge obezbeđenja 24/7?</span>
        <span class="text-2xl text-orange-400 transition-transform group-open:rotate-180">⌄</span>
      </summary>
      <p class="rounded-md p-4 text-lg mt-4 text-gray-700 bg-gray-100 transition-all duration-300">
        Da, nudimo usluge obezbeđenja 24/7 kako bismo osigurali da su vaši prostori zaštićeni 24 sata dnevno,
        uključujući praznike i vikende.
      </p>
    </details>

    <!-- 5 -->
    <details class="group border border-gray-300 rounded-xl bg-white p-6 shadow-lg transition hover:shadow-xl">
      <summary class="flex justify-between items-center cursor-pointer">
        <span class="font-semibold text-xl text-gray-900">Možete li da obezbedite obezbeđenje za posebne događaje i privremene potrebe?</span>
        <span class="text-2xl text-orange-400 transition-transform group-open:rotate-180">⌄</span>
      </summary>
      <p class="rounded-md p-4 text-lg mt-4 text-gray-700 bg-gray-100 transition-all duration-300">
        Naravno, Smart P&S nudi usluge obezbeđenja događaja za okupljanja, izložbe i posebne prilike.
        Takođe možemo da zadovoljimo privremene potrebe za obezbeđenjem, kao što su kratkoročni građevinski projekti.
      </p>
    </details>

    <!-- 6 -->
    <details class="group border border-gray-300 rounded-xl bg-white p-6 shadow-lg transition hover:shadow-xl">
      <summary class="flex justify-between items-center cursor-pointer">
        <span class="font-semibold text-xl text-gray-900">Kako osiguravate poverljivost klijenata?</span>
        <span class="text-2xl text-orange-400 transition-transform group-open:rotate-180">⌄</span>
      </summary>
      <p class="rounded-md p-4 text-lg mt-4 text-gray-700 bg-gray-100 transition-all duration-300">
        Ozbiljno shvatamo poverljivost klijenata i imamo stroge protokole za zaštitu osetljivih informacija.
        Naše obezbeđenje je obučeno da poštuje privatnost i poverljivost.
      </p>
    </details>

    <!-- 7 -->
    <details class="group border border-gray-300 rounded-xl bg-white p-6 shadow-lg transition hover:shadow-xl">
      <summary class="flex justify-between items-center cursor-pointer">
        <span class="font-semibold text-xl text-gray-900">Šta izdvaja Smart P&S fizičko obezbeđenje od drugih bezbednosnih kompanija?</span>
        <span class="text-2xl text-orange-400 transition-transform group-open:rotate-180">⌄</span>
      </summary>
      <p class="rounded-md p-4 text-lg mt-4 text-gray-700 bg-gray-100 transition-all duration-300">
        Naša posvećenost izvrsnosti, visoko obučeno osoblje, prilagodljivost različitim industrijama
        i posvećenost zadovoljstvu klijenata izdvajaju nas.
        Fokusirani smo na pružanje prilagođenih bezbednosnih rešenja koja zadovoljavaju vaše jedinstvene potrebe.
      </p>
    </details>

  </div>
</section>

    <!--  Hero -->
<!--    <section class="py-30 bg-gray-50">-->
<!--    <div class="max-w-7xl mx-auto px-6 text-center mb-12">-->
<!--      <p class="text-gray-700 text-lg">Ponosni smo na postignute rezultate i poverenje naših klijenata.</p>-->
<!--    </div>-->

<!--    <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 text-center">-->

<!--      &lt;!&ndash; Zadovoljni klijenti &ndash;&gt;-->
<!--      <div class="bg-white p-8 rounded-2xl shadow-lg flex flex-col items-center">-->
<!--        <div class="text-blue-600 mb-4">-->
<!--          &lt;!&ndash; Ikonica korisnika &ndash;&gt;-->
<!--          <img src="{% static 'img/icons/man-in-suit-and-tie.png' %}" alt="" class="w-14">-->
<!--        </div>-->
<!--        <div class="text-orange-400 text-5xl font-bold mb-2">120+</div>-->
<!--        <p class="text-gray-700 font-medium">Zadovoljnih korisnika</p>-->
<!--      </div>-->

<!--      &lt;!&ndash; Obezbeđeni objekti &ndash;&gt;-->
<!--      <div class="bg-white p-8 rounded-2xl shadow-lg flex flex-col items-center">-->
<!--        <div class="text-green-600 mb-4">-->
<!--          &lt;!&ndash; Ikonica zgrade &ndash;&gt;-->
<!--          <img src="{% static 'img/icons/building.png' %}" alt="" class="w-14">-->
<!--        </div>-->
<!--        <div class="text-orange-400 text-5xl font-bold mb-2">85</div>-->
<!--        <p class="text-gray-700 font-medium">Obezbeđenih objekata</p>-->
<!--      </div>-->

<!--      &lt;!&ndash; Zaštićene osobe &ndash;&gt;-->
<!--      <div class="bg-white p-8 rounded-2xl shadow-lg flex flex-col items-center">-->
<!--        <div class="text-blue-400 mb-4">-->
<!--          &lt;!&ndash; Ikonica štita &ndash;&gt;-->
<!--          <img src="{% static 'img/icons/group.png' %}" alt="" class="w-14">-->
<!--        </div>-->
<!--        <div class="text-orange-400 text-5xl font-bold mb-2">250+</div>-->
<!--        <p class="text-gray-700 font-medium">Zaštićenih osoba</p>-->
<!--      </div>-->

<!--      &lt;!&ndash; Održani događaji &ndash;&gt;-->
<!--      <div class="bg-white p-8 rounded-2xl shadow-lg flex flex-col items-center">-->
<!--        <div class="text-red-600 mb-4">-->
<!--          &lt;!&ndash; Ikonica kalendara &ndash;&gt;-->
<!--          <img src="{% static 'img/icons/appointment.png' %}" alt="" class="w-14">-->
<!--        </div>-->
<!--        <div class="text-orange-400 text-5xl font-bold mb-2">15</div>-->
<!--        <p class="text-gray-700 font-medium">Obezbeđenih događaja</p>-->
<!--      </div>-->

<!--    </div>-->
<!--  </section>-->

</div>

{% endblock %}
