{% load static %}
<div id="app-footer">
    <footer class="bg-gray-900 text-white pt-10 pb-6">
      <div class="max-w-7xl mx-auto px-4 md:flex md:justify-between md:items-start space-y-8 md:space-y-0">

        <!-- Logo + kratak opis -->
        <div class="md:w-1/4">
          <img src="{% static 'img/logo.png' %}" alt="Logo" class="h-24 mb-3">
          <p class="text-gray-400">
            <span class="font-bold">
              Obezbedite svoje poslovanje
            </span>
            <br>
            <span class="text-sm">Vaš pouzdan partner.</span>

          </p>
        </div>

        <!-- Kontakt informacije -->
        <div class="md:w-1/4">
          <h3 class="font-bold mb-3">Kontakt</h3>
          <ul class="text-gray-400 text-sm space-y-1">
            <li>
              <a href="tel:+381692090716" style="text-decoration: none; color: inherit;">
                <i class="fa-solid fa-mobile-screen"></i> +381692090716
              </a>
            </li>
            <li>
              <a href="mailto:prodaja@smartps.rs" style="text-decoration: none; color: inherit;">
                <i class="fa-solid fa-envelope"></i> prodaja@smartps.rs
              </a>
            </li>
            <li>
              <a href="mailto:info@smartps.rs" style="text-decoration: none; color: inherit;">
                <i class="fa-solid fa-envelope"></i> info@smartps.rs
              </a>
            </li>
            <li>
              <a href="mailto:kontakt@smartps.rs" style="text-decoration: none; color: inherit;">
                <i class="fa-solid fa-envelope"></i> kontakt@smartps.rs
              </a>
            </li>
            <li>
              <a href="mailto:officesmartps@gmail.com" style="text-decoration: none; color: inherit;">
                <i class="fa-solid fa-envelope"></i> officesmartps@gmail.com
              </a>
            </li>

            <!--
            <li>
              <i class="fa-solid fa-location-dot"></i> Ulica Primer 12, Beograd
            </li>
            -->
          </ul>

        </div>

        <!-- Navigacija -->
        <div class="md:w-1/4">
          <h3 class="font-bold mb-3">Linkovi</h3>
          <ul class="space-y-1 text-gray-400">
            <li><a href="{% url 'home' %}" class="hover:text-white">Početna</a></li>
            <li><a href="{% url 'services' %}" class="hover:text-white">Usluge</a></li>
            <li><a href="{% url 'activities' %}" class="hover:text-white">Industrije</a></li>
            <li><a href="{% url 'jobs' %}" class="hover:text-white hidden">Zaposlenje</a></li>
            <li><a href="{% url 'contact' %}" class="hover:text-white">Kontakt</a></li>
          </ul>
        </div>

        <!-- Društvene mreže -->
        <div class="md:w-1/4">
          <h3 class="font-bold mb-3">Pratite nas</h3>
          <div class="flex space-x-4 text-xl">
          <a href="https://www.instagram.com/smartpsbeograd?igsh=MWhndndpeWEzYW00Yg==" class="hover:text-gray-300">
            <img src="{% static 'img/icons/instagram.png' %}" alt="Instagram Icon" class="w-5"/>
          </a>
          <a href="https://www.facebook.com/share/16zqdzoEG7/" class="hover:text-gray-300">
            <img src="{% static 'img/icons/facebook.png' %}" alt="Facebook Icon" class="w-5"/>
          </a>
          </div>
        </div>

      </div>

      <!-- Donji deo -->
      <div class="border-t border-gray-800 mt-8 pt-4 text-center text-gray-500 text-sm">
        &copy; [[ new Date().getFullYear() ]] Smart P&S. Sva prava zadržana.
      </div>
    </footer>

</div>